<div class="row">
  <div class="col-md-3 mobile-order-3">
    <div class="card sticky-top" id="survey-information">
      <div class="card-body">
        <h5 class="card-title important-survey-id" id="<%=sid%>">
          Survey Information
        </h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <label for="active">Choose active:</label>
          <select name="active" id="active">
            <% if (survey.active) { %>
            <option value="true" selected>yes</option>
            <option value="false">no</option>
            <% } else { %>
            <option value="true">yes</option>
            <option value="false" selected>no</option>
            <% } %>
          </select>
        </li>
        <li class="list-group-item">
          Start Date:
          <input
            type="date"
            id="startDate"
            name="startDate"
            value="<%=(survey.startDate).toISOString().slice(0,10)%>"
          />
        </li>
        <li class="list-group-item">
          Expiry Date:
          <input
            type="date"
            id="expiry"
            name="expiry"
            value="<%=(survey.expiry).toISOString().slice(0,10)%>"
          />
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9 mobile-order-1">
    <label for="survey-title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="survey-title"
      placeholder="Survey title"
      value="<%= survey.title %>"
    />
    <br />
    <div class="row">
      <div class="col-md-8 mobile-order-2">
        <p>Description</p>
        <textarea
          class="w-100"
          id="description"
          name="description"
          rows="8"
          placeholder="Put a short description of your survey here."
          value="<%= survey.description %>"
        >
<%= survey.description %></textarea
        >
      </div>
      <div class="col-md-4 mobile-order-0">
        <p>Thumbnail</p>
        <div class="d-grid gap-2">
          <button class="btn btn-primary btn-thumbnail" type="button">
            <i class="fas fa-plus fa-2x"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row text-center" id="main-section">
      <% for (let i=0; i < survey.questions.length; i++ ) { const
      currentQuestion = survey.questions[i]; %>
      <div id="question-main-<%=i%>">
        <div class="text-center row" id="question-body">
          <div class="col-9">
            <p>QUESTION <%=i+1%></p>
            <textarea
              class="w-100"
              id="question-<%=i+1%>"
              name="question"
              rows="2"
              value="<%= survey.questions[i].question %> "
            >
<%= survey.questions[i].question %> </textarea
            >
          </div>
          <div class="col-3">
            <a href="javascript:deleteQuestion(<%=i+1%>)">
              <p class="text-center" id="trash-icon">
                <i class="fas fa-trash fa-4x"></i></p
            ></a>
          </div>
        </div>
      </div>
      <div id="answer-<%=i%>" class="text-center">
        <% switch (currentQuestion.type) { case "Multiple Choice": for (let j =
        0; j < currentQuestion.choices.length; j++) { let currentChoice =
        currentQuestion.choices[j]; %>

        <div class="row" id="option-<%=j+1%>">
          <div class="col-9">
            <label class="form-check-label">
              <input
                type="text"
                class="form-control"
                name="question-<%=i+1%>"
                value="<%=currentChoice%>"
              />
            </label>
          </div>
          <div class="col-3 option-icon">
            <a href="javascript:deleteOption(<%=i+1%>, <%=j+1%>)">
              <p class="text-center">
                <i class="fas fa-trash"></i></p
            ></a>
          </div>
        </div>
        <% } %>

        <div
          class="form-check form-check-inline"
          id="option-<%=currentQuestion.choices.length+1%>"
        >
          <p class="text-center" id="edit-icon">
            <a
              href="javascript:addNewOption(<%=i+1%>, <%=currentQuestion.choices.length+1%>)"
            >
              <i class="fas fa-plus"></i
            ></a>
          </p>
        </div>

        <% break; case "Short Answer": %>

        <label class="form-check-label short-answer"></label>
        <input
          class="form-control"
          type="text"
          placeholder="The participants will fill-in this area."
          disabled
        /><br />

        <% } %>
      </div>
      <%}%>
    </div>
  </div>
</div>
