<div><%= survey.title %></div>
<div><%= survey.description %></div>
<form method="POST">
  <ol>
    <% for (let i=0; i < survey.questions.length; i++ ) { const currentQuestion
    = survey.questions[i]; %>
    <li>
      <div class="question-text"><%= currentQuestion.question %></div>
      <div class="answer-text">Answers:</div>
      <% switch (currentQuestion.type.toLowerCase()) { case 'multiple choice':
      for (let k =0; k < currentQuestion.choices.length; k++ ) { let
      currentChoice = currentQuestion.choices[k]; %>
      <input
        id="question<%= i %>_answer_<%= k %>"
        name="question<%= i %>"
        value="<%= currentChoice %>"
        type="radio"
      />
      <label for="question<%= i %>_answer_<%= k %>"><%= currentChoice %></label>
      <br />
      <% }; break; case 'short answer': %>
      <input class="form-control" type="text" placeholder="Your answer." />
      <% break; case 'true / false': %>
      <label for="question<%= i %>_answer_1">True</label>
      <input
        id="question<%= i %>_answer_1"
        name="question<%= i %>"
        value="true"
        type="radio"
      />
      <label for="question<%= i %>_answer_2">False</label>
      <input
        id="question<%= i %>_answer_2"
        name="question<%= i %>"
        value="false"
        type="radio"
      />

      <% break; } %>
    </li>
    <% } %>
  </ol>

  <button class="btn btn-primary" type="submit">Submit Survey</button>
</form>
