<div>
    <%= survey.title %>
</div>
<div>
    <%= survey.description %>
</div>
<form method="POST">
    <ul class="list-group">
        <% for (var i=0; i < survey.questions.length; i++ ) { 
        const currentQuestion = survey.questions[i]; %>
            <li class="list-group-item"> Question:
                <%= currentQuestion.question %>
                    <br> Answers:
                    <br>
                    <% switch (currentQuestion.type.toLowerCase()) {
                case 'multiple choice':
                    for (var k =0; k < currentQuestion.choices.length;  k++ ) {
                        var currentChoice = currentQuestion.choices[k];
                    %>
                        <label for="question<%= i %>_answer_<%= k %>"><%= currentChoice %></label>
                        <input id="question<%= i %>_answer_<%= k %>" name="question<%= i %>" value="<%= currentChoice %>" type="radio">
                        <% };
                    break;
                case 'short answer': %>
                            <textarea id="question<%= i %>_answer_<%= k %>" name="question<%= i %>"></textarea>
                            <% break; 
                case 'check boxes': 
                    for (var k =0; k < currentQuestion.choices.length; k++ ) { 
                        var currentChoice=currentQuestion.choices[k]; %>
                                <label for="question<%= i %>_answer_<%= k %>"><%= currentChoice %></label>
                                <input id="question<%= i %>_answer_<%= k %>" name="question<%= i %>" value="<%= currentChoice %>" type="checkbox">
                                <% };
                    break;         
                case 'true / false': %>
                                    <label for="question<%= i %>_answer_1">True</label>
                                    <input id="question<%= i %>_answer_1" name="question<%= i %>" value="true" type="radio">
                                    <label for="question<%= i %>_answer_2">False</label>
                                    <input id="question<%= i %>_answer_2" name="question<%= i %>" value="false" type="radio">

                                    <% break;                                                                
                } %>
            </li>
            <% } %>
    </ul>
    <button class="btn btn-primary" type="submit">Submit Survey</button>
</form>