<!-- MAIN CONTENT -->
<div class="container normal-text">
  <div class="row">
    <div class="col-offset-1 col-md-10">
      <h1><%= title %></h1>
      <a href="/survey/create" class="btn btn-primary"  role="button"><i class="fa fa-plus"></i> Create Survey</a>              
      <br>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr class="text-light bg-dark">
              <th>Survey Title</th>
              <th class="text-center">Owner</th>
              <th class="text-center">Description</th>
              <th class="text-center">Expiry Date</th>
              <th class="text-center"></th>
              <th class="text-center"></th>
              <th class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <!-- Template Row -->
            <% for (let count = 0; count < surveys.length; count++) { %>
              
            <tr class="text-light bg-dark">
              <% if(typeof owner == 'string' && owner) { %>
              <td><%= surveys[count].title %></td>
              <td class="text-center"><%= surveys[count].owner %></td>
              <td class="text-center"><%= surveys[count].description %></td>
              <td class="text-center"><%= (surveys[count].expiry).toISOString().slice(0, 10); %></td>

              <td class="text-center">
                <a href="/survey/answer/<%= surveys[count]._id %>" class="btn btn-primary btn-sm">
                  <i class="fas fa-pencil-alt" ></i> Participate</a>
              </td>
             
             
            </tr>
            <% } else { %>

              <td><%= surveys[count].title %></td>
              <td class="text-center"><%= surveys[count].owner %></td>
              <td class="text-center"><%= surveys[count].description %></td>
              <td class="text-center"><%= (surveys[count].expiry).toISOString().slice(0, 10); %></td>

              <td class="text-center">
                <a href="/survey/answer/<%= surveys[count]._id %>" class="btn btn-primary btn-sm">
                  <i class="fas fa-pencil-alt" ></i> Participate</a>
              </td>
            
              <% } %>  
              
              <% if(title == "SAUCED | Private Surveys") { %>
                <td class="text-center">
                   <a href="/survey/edit/<%= surveys[count]._id %>" class="btn btn-primary btn-sm">
                     <i class="fas fa-pencil-alt"></i> Edit</a>
                 </td>
   
                 <td class="text-center">
                   <a href="/survey/delete/<%= surveys[count]._id %>" class="btn btn-danger btn-sm">
                     <i class="fas fa-trash-alt"></i> Delete</a>
                 </td> 
                 <% } else { %>
                   
                 <% } %> 

            <% } %>
          </tbody>
        </table>
      </div>
       <div class="col-md-offset-1 col-md-10 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
    </div>
  </div>
</div>

<br /><br />
</div>

